html{
    margin: 0;
}

body{
    margin: 0;
    width: 100%;
}

nav{
    display: flex;
    text-align: center;
    height: 90px;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top:70px;
    background-color: white;
    align-items: center;
    margin-left: 2%;
}

nav img{
    height: 24px;
    width: 24px;
}

a{
    color: black;
    text-decoration: none;
}

.cube1{
    display: flex;
    position: fixed;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: white;
    top:0;
}

.cube1 img{
    width: 48px;
    height: 64px;
}
.cube1 a{
    margin-left: 30%;
}
.logoo{
    margin-right: 10%;
    margin-left: 4%;
}

.search {
    width: 370px;
    height: 35px;    
    font-size: medium;
    border-radius: 16px;
    border: 1px solid rgba(128, 128, 128, 0.623);
}

nav #fleche{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.096);
}

nav #filtres{
    border-radius: 12px;
    width: 90px;
    height: 50px;
    margin-right: 5%;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.096);
}

#fleche:hover{
    cursor: pointer;
}

#filtres{
    cursor: pointer;
}

.cube3{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cube3 article{
    margin: auto;
}

.cube3 img{
    display: flex;
    border-radius: 20px;
    height: 303px;
    width: 319px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    bottom: 0;
    position: fixed;
    align-items: center;
    background-color: white;
}

.classement{
    margin-top: 180px;
    margin-left: 5%;
}

.classement span{
    font-size: 18px;
}